#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div.sizeSelector {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div.sizeSelector div{
  display: flex;
  background: #333;
  justify-content: space-between;
  border-radius: 10px;
  gap: 10px;
}

div.sizeSelector>p{
  font-weight: bold;
  font-size: 110%;
}

div.sizeSelector div>p{
  margin: auto;
  font-weight: bold;
  font-size: 150%;
}
